@import "tailwindcss";

:root {
  --primary-color: #05124b;
  --primary-hover-color: #1d438f;
  --secondary-color: #f3f4f6;
  --secondary-hover-color: #e5e7eb;
  --secondary-text-color: #374151;
  --danger-color: #ef4444;
  --danger-hover-color: #dc2626;
  --success-color: #22c55e;
  --success-hover-color: #16a34a;
  --white-color: #fff;
  --black-color: #000;
}



/* Datatable  */

/* in your global.css or scoped style */
table.dataTable {
  @apply w-full border border-gray-300 rounded-lg shadow-sm;
}

table.dataTable thead th {
  @apply bg-gray-100 text-gray-700 font-semibold px-4 py-2;
}

table.dataTable tbody td {
  @apply px-4 py-2 border-t;
}

.dataTables_wrapper .dataTables_filter input {
  @apply border border-gray-300 rounded-md px-2 py-1;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  @apply px-3 py-1 border rounded-md mx-1 cursor-pointer text-gray-700 bg-gray-100;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  @apply bg-blue-500 text-white;
}